@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  color: #fff;
  font-family: 'Khula', sans-serif;
  text-align: center;

  margin: 0;

  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(90deg, #29323C 0%, #485563 100%);

  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  cursor: pointer;

  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;

  padding: .5rem 1rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  width: 800px;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;

  border-radius: 50%;
  cursor: pointer;
}

.btn-restart {
  display: block;

  background-color: transparent;
  border: 2px solid #C0C0C0;
  cursor: pointer;

  color: #fff;
  font-family: inherit;
  font-size: 14px;

  margin-left: 20px;

  padding: 2px 10px;
}